<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Music Portfolio</title>
    <link rel="stylesheet" href="css/styles.css">
    <link rel="stylesheet" href="css/img.css">
</head>
<body>

    <nav>
        <ul>
            <li><a href="home.html">Home</a></li>
            <li><a href="music.html">Music Portfolio</a></li>
            <li><a href="art.html">Art Portfolio</a></li>
            <li><a href="web.html">Web Projects</a></li>
            <li><a href="mylittletiktok.html">My TikTok</a></li>
            <li><a href="profile.html">My Profile</a></li>
        </ul>
    </nav>

    <div class="content">
        <!-- Здесь будет отображаться имя пользователя -->
        <h1 id="greeting">My Music</h1>

        <p>Кликните на картинку чтоб попасть на страницу альбома чтоб послушать песню</p>
        <a href="papa.html">
            <img src="img/7f956c8b06d5ed3f66fa99b7a27f766b.jpg" alt="Картинка 1" width="" height="">
        </a>
        <a href="ha.html">
            <img src="img/3ebd0a718ef23b02bd19681de0815096.jpg" alt="Картинка 2" width="" height="">
        </a>
        <a href="yyy.html">
            <img src="img/DALL·E 2024-11-22 22.49.43 - A melancholic album cover for a sad rap track. The scene shows a dimly lit room with a young man sitting alone in front of a microphone. Outside the w.webp" alt="Картинка 2" width="" height="">
        </a>
        <div class="social-links">
            <a href="https://www.instagram.com/pablaofficeal/profilecard/?igsh=MXZkZWNrbXViaDE3dg%3D%3D" target="_blank">Instagram</a>
            <a href="https://t.me/pablaofficeal678" target="_blank">Telegram</a>
            <a href="https://github.com/pablaofficeal" target="_blank">GitHub</a>
        </div>
    </div>
</body>
</html>
